:root {
  --animation-speed: 2s;
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color: #1DA1F2;
  --text-color: #fff;
  --font: sans-serif;
  --square-container: 150px;
  --square-ball-one: red;
  --square-ball-two: #009eff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: aliceblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: var(--background-color); */
  font-family: var(--font);
}

/* Main Container */
.tweet-container {
  background: var(--primary-color);
  padding: 1rem 2rem;
  max-width: 400px;
  border-radius: 1.5rem;
  user-select: none;
}

/* the title and the twitter handle */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.user {
  display: flex;
}
.title img {
  width: 40px;
  border-radius: 10rem;
  border: 1px solid wheat;
  margin-right: 0.5rem;
}

.info h4 {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.info p {
  font-size: 0.8rem;
  color: gray;
  line-height: 1.2rem;
}

.tweet-icon {
  align-items: right;
}

/* Main Tweet */
.tweet {
  padding: 0.8rem 0;
  cursor: text;
}

.tweet p {
  font-size: 1.2rem;
}

/* Tweet time and date section */

.time-and-date {
  color: gray;
}

.time-and-date p span {
  color: #1da1f2;
}

/* Bottom feedback section */
.bottom-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.4rem 0;
  padding-bottom: 0rem;
  place-items: center;
}

.bottom-section svg {
  width: 1.25em;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
}

.bottom-section svg:hover {
  opacity: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.jokeButton {
  font-size: 12px;
  padding: 7px;
  font-weight: semi-bold;
  /* margin: 7px; */
  border-radius: 50px;
  background: white;
  color: black;
  border-color: #1DA1F2;
}

.fa-twitter {
  color: #1DA1F2;
}